<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>HospitalQ Automated System</title>
</head>
<body>
<div id="root"><%- component %></div>
<script defer="defer" src="<%= assets["client.js"] %>"></script>
</body>
</html>
